body {
	text-align: center;
}

fieldset {
	margin: auto;
}

a {
	text-decoration: none;
	color: #3333ff;
}

a:link, a:visited {
	color: #3333ff;
}

a:hover, a:active {
	color: #9999ff;
}

#characterList {
	width: 750px;
	height: 280px;
	margin: auto;
	overflow-y: scroll;
	text-align: left;
	border: solid 2px #cccccc;
}

#controlIcon {
	display: inline-block;
	width: 440px;
	text-align: right;
}

#controlPot {
	display: inline-block;
	width: 350px;
	text-align: left;
}

#specialIcon {
	text-align: left;
}

#evolTooltip {
	display: none;
	position: absolute;
	background-color: #ffffff;
	padding: 5px;
	border: solid 5px #00ff00;
}

#avail {
	text-align: left;
}

.icon {
	display: inline-block;
	width: 60px;
	height: 60px;
	border: solid 6px #ffffff;
	background-color: #ffffff;
}

.pot {
	display: inline-block;
	width: 30px;
	height: 32px;
	padding: 5px 0px 5px 0px;
	background-color: #ffffff;
}

.iconSel {
	border-color: #00ff00;
	background-color: #00ff00;
}

.clickable {
	cursor: pointer;
}

/*
 * Use CSS3 filter; non-support browser will use pre-rendered grayscale icon
 */
.cssfilters .grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
